<div *ngIf="isLogged, else noLogged">
    <button class="btn btn-info btn-logout" (click)="logout()">Logout</button>
    <app-admin></app-admin>
</div>
<ng-template #noLogged>
    <div class="show">
        <h3 class="mt-3">Inicio de sesión</h3>
        <form [formGroup]="form" (ngSubmit)="loginUser()"
            class="d-flex flex-column align-items-center position-relative">
            <button type="button" class="close" (click)="close()">X</button>
            <input formControlName="username" class="mt-3 mb-3" type="text" placeholder="Ingrese usuario">
            <input formControlName="password" type="password" placeholder="Ingrese contraseña">
            <button type="submit" class="btn btn-primary my-2">Iniciar sesión</button>
        </form>
    </div>
</ng-template>