<h2 class="text-center mt-3 mb-5">
  Proyectos
</h2>
<section class="d-flex flex-column flex-lg-row justify-content-center align-content-center">
  <div class="align-self-center project--desc">
    <h3 class="text-center">
      Trabajos desarrollados y cada una de las tecnologías usadas en ellos. El link adjunto permite visitarlos para una mejor visualización.
    </h3>
  </div>
  <div class="container-carousel">
    <section id="carouselIndicators" class="carousel slide my-2" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img src="../../../assets/landing_page.png" class="img--carousel d-block w-100" alt="Web Page Capture">
          <div class="carousel-caption text-center">
            <h5 class="h5--carousel">Landing Page</h5>
            <p class="p--carousel">Proyecto que simula una landing page orientada al marketing online.</p>
              <p class="btn btn-light">HTML</p>
              <p class="btn btn-light">CSS</p>
              <p class="btn btn-light">JavaScript</p>
              <a class="btn btn-primary d-block mx-auto" href="https://first-page-git-main-mejimm.vercel.app/" target="_blank" rel="Enlace al sitio web">Ir al sitio</a>
          </div>
        </div>
        <div class="carousel-item">
          <img class="img--project" src="../../../assets/space_page.png" class="img--carousel d-block w-100" alt="Web Page Capture">
          <div class="carousel-caption text-center">
            <h5 class="h5--carousel">Prueba Técnica de Maquetado</h5>
            <p class="p--carousel">Página que pone a prueba el diseño responsive y su adaptabilidad a los diferentes dispositivos de forma concisa.</p>
            <p class="btn btn-light">HTML</p>
            <p class="btn btn-light">CSS</p>
            <a class="btn btn-primary d-block mx-auto" href="https://dev-test-kappa.vercel.app/" target="_blank" rel="Enlace al sitio web">Ir al sitio</a>
          </div>
        </div>
        <div class="carousel-item">
          <img class="img--project" src="../../../assets/sticknotes.png" class="img--carousel d-block w-100" alt="Web Page Capture">
          <div class="carousel-caption text-center">
            <h5 class="h5--carousel">Task List</h5>
            <p class="p--carousel">Sitio web desarrollado con MERN Stack que permite crear tareas a realizar y asignarlas a un usuario en particular.</p>
            <p class="btn btn-light">HTML</p>
            <p class="btn btn-light">CSS</p>
            <p class="btn btn-light">React</p>
            <p class="btn btn-light">Material UI</p>
            <p class="btn btn-light">NodeJS</p>
            <p class="btn btn-light">MongoDB</p>
            <p class="btn btn-light">ExpressJS</p>
            <a class="btn btn-primary d-block mx-auto" href="https://sticknotes.vercel.app/" target="_blank" rel="Enlace al sitio web">Ir al sitio</a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </section>    
  </div>
</section>
