<section class="mt-4">
    <h2 class="text-center">
        Tecnologías
    </h2>
    <ul class="list-unstyled d-flex flex-wrap justify-content-center my-2">
        <li class="my-2 mx-2 li--item">
            <div class="popover__wrapper">
                <img class="popover__title img--skills" src="../../../assets/html.png" alt="Logo HTML">
                <div class="popover__content">
                    <p class="popover__message">HTML5</p>
                </div>
            </div>
        </li>
        <li class="my-2 mx-2 li--item">
            <div class="popover__wrapper">
                <img class="img--skills" src="../../../assets/css.png" alt="Logo CSS">
                <div class="popover__content">
                    <p class="popover__message">CSS3</p>
                </div>
            </div>
        </li>
        <li class="my-2 mx-2 li--item">
            <div class="popover__wrapper">
                <img class="img--skills" src="../../../assets/js.png" alt="Logo JavaScript">
                <div class="popover__content">
                    <p class="popover__message">JavaScript</p>
                </div>
            </div>
        </li>
        <li class="my-2 mx-2 li--item">
            <div class="popover__wrapper">
                <img class="img--skills" src="../../../assets/reactjs.png" alt="Logo React">
                <div class="popover__content">
                    <p class="popover__message">ReactJS</p>
                </div>
            </div>
        </li>
        <li class="my-2 mx-2 li--item">
            <div class="popover__wrapper">
                <img class="img--skills" src="../../../assets/angular.png" alt="Logo Angular">
                <div class="popover__content">
                    <p class="popover__message">Angular</p>
                </div>
            </div>
        </li>
        <li class="my-2 mx-2 li--item">
            <div class="popover__wrapper">
                <img class="img--skills" src="../../../assets/boostrapp.png" alt="Logo Bootstrap">
                <div class="popover__content">
                    <p class="popover__message">Bootstrap</p>
                </div>
            </div>
        </li>
        <li class="my-2 mx-2 li--item">
            <div class="popover__wrapper">
                <img class="img--skills" src="../../../assets/node.png" alt="Logo Node">
                <div class="popover__content">
                    <p class="popover__message">NodeJS</p>
                </div>
            </div>
        </li>
        <li class="my-2 mx-2 li--item">
            <div class="popover__wrapper">
                <img class="img--skills" src="../../../assets/sql.png" alt="Logo SQL">
                <div class="popover__content">
                    <p class="popover__message">My SQL</p>
                </div>
            </div>
        </li>
    </ul>
</section>